
****************LOGIN*****************

username faghat mitavanad horoofe asli, adad dashte bashad va bayad bishtar az 3 harf bashad.
nickname faghat mitavanad horoofe asli, adad va "_" dashte bashad. hamchenin beyn horoof bozorg va koochak farghi nemibashad.
password mitavanad horoofe asli va adad dashte bashad. bayad hatman adad va horoof dashte bahsad va bayad >= 5 character dashte bashad.
